Source: openjpeg
Priority: extra
Maintainer: Secondlife Debian Maintainers <secondlife-debian-maintainers@slupdate.byteme.org.uk>
Homepage: http://www.openjpeg.org
Build-Depends: debhelper (>= 5), txt2man, dpatch (>= 2), libtiff4-dev
Standards-Version: 3.7.3
Section: libs
XS-Vcs-Svn: svn://slupdate.byteme.org.uk/openjpeg/openjpeg/trunk
XS-Vcs-Browser: http://slupdate.byteme.org.uk/svn

Package: libopenjpeg-dev
Section: libdevel
Architecture: any
Depends: libopenjpeg2 (= ${binary:Version})
Description: Development header files for applications wishing to use 
 libopenjpeg2, a JPEG 2000 image compression codec library.

Package: libopenjpeg2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: JPEG 2000 image compression codec library, a codec library for 
 handling the JPEG 2000 image compression format.

Package: libopenjpeg-dbg
Section: libdevel
Architecture: any
Depends: libopenjpeg2 (= ${binary:Version})
Description: Debug symbols for libopenjpeg2 a JPEG 2000 image compression codec 
 library. This package contains the debug symbols to match the runtime component
 of the OpenJPEG library, allowing debugging of a program using the OpenJPEG 
 library to usefully access details within the library itself.

Package: openjpeg-tools
Section: graphics
Architecture: any
Depends: ${shlibs:Depends}
Description: JPEG 2000 image compression codec tools distributed with the 
 OpenJPEG library:
 - j2k_to_image, decodes j2k, jp2 and jpt files to pgm, ppm, pnm, pgx and bmp
 - image_to_j2k, encodes pnm, pgm, pgx, bmp and ppm files to j2k and jp2
 - index_create, create jp2 with JPIP index file from a j2k file


