#!/usr/bin/make -f

include /usr/share/dpatch/dpatch.make

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	EXTRA_CFLAGS += -O0
else
	# Upstream default optimisation level
	EXTRA_CFLAGS += -O3
endif

build: build-stamp
build-stamp: patch
	dh_testdir

	# build all library targets
	$(MAKE) OpenJPEG
	$(MAKE) -C codec
	$(MAKE) -C indexer_JPIP

	touch $@

clean: realclean unpatch
realclean:
	dh_testdir
	dh_testroot

	[ ! -f  codec/*.o ] || $(MAKE) -C codec clean
	[ ! -f  indexer_JPIP/*.o ] || $(MAKE) -C indexer_JPIP clean

	$(MAKE) clean

	dh_clean indexer_JPIP/index_create codec/image_to_j2k codec/j2k_to_image libopenjpeg.a.nopic libopenjpeg.so build-stamp $(manpages)

install: build manpages
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) dist
	# The libraries and header file are in dist/
	# So we'll dump the binaries there too
	cp codec/j2k_to_image codec/image_to_j2k dist/
	cp indexer_JPIP/index_create dist/

binary-indep: build install
# We have nothing to do by default.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=dist/
	dh_installman
	dh_link
	dh_strip --dbg-package=libopenjpeg2-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps -L libopenjpeg -l debian/libopenjpeg/usr/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

%.1: %.help
	txt2man -v "OpenJPEG Reference Manual" -t $(subst debian/,,$*) -s 1 -r "$(subst debian/,,$*) 1.1.1" $< > $@

# Generated manpages
manpages := debian/image_to_j2k.1 debian/j2k_to_image.1 debian/index_create.1
manpages: $(manpages)

.PHONY: build clean realclean binary-indep binary-arch binary install manpages patch unpatch
.SUFFIXES: .1 .help
